body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  width: 80%;
  margin: 20px auto;
  border: 2px solid #999;
}

.header {
  background: #5ca9e8; 
  text-align: center;
  padding: 40px 0;
  font-size: 32px;
  font-weight: bold;
}

.content {
  overflow: hidden;
}

.left {
  float: left;
  width: 80%;
  height: 400px;
  background: #b6ec9c; 
  text-align: center;
  line-height: 400px;
  font-size: 32px;
  font-weight: bold;
}

.right {
  float: left;
  width: 20%;
  height: 400px;
  background: #7ba367; 
  text-align: center;
  line-height: 400px;
  font-size: 32px;
  font-weight: bold;
}

.footer {
  clear: both;
  background: #f3aee8;
  text-align: center;
  padding: 100px 0;
  font-size: 32px;
  font-weight: bold;
}

